# dependencies
node_modules/
/.pnp
.pnp.js
.yarn/install-state.gz

# IDE
/.idea
/.awcache
/.vscode


# misc
.DS_Store
*.tsbuildinfo
.turbo
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# testing
coverage

# build
dist
.next
out/
build

# local env files
.env*.local
.env

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# generated & compiled contracts
**/contracts/generated/**/*.sol
!**/contracts/generated/**/ERC721Libs.sol
artifacts
cache

# Ignore generated credentials from google-github-actions/auth
gha-creds-*.json