@tailwind base;
@tailwind components;
@tailwind utilities;
@import './layout';

:root {
  --nav-height: 76px;
  --footer-height: 52px;
}

body {
  background-image: url('/page-bg.png');
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
  @apply bg-base-300 text-white;
  font-family: var(--font-plex-sans-thai);
}

body {
}
