.h-screen-nav {
  height: calc(
    100svh - var(--nav-height) - var(--footer-height) - 2.5rem
  ) !important;
}

.h-screen-nav-form {
  height: calc(
    100svh - var(--nav-height) - var(--footer-height) - 2.5rem - 50px - 88px
  ) !important;
}

.min-h-screen-nav {
  min-height: calc(
    100svh - var(--nav-height) - var(--footer-height) - 2.5rem
  ) !important;
}
